/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ==========================================================================
   Author's custom styles
   ==========================================================================
   ========================================================================== */


/* INDEX PAGE GOES HERE */


.backgroundBody {
  background: linear-gradient(270deg, #1976d2, #1c8eff, #0064ff);
  background-size: 600% 600%;

  /* https://www.gradient-animator.com/ */
  -webkit-animation: personalWebBkgr 15s ease infinite;
  -moz-animation: personalWebBkgr 15s ease infinite;
  -o-animation: personalWebBkgr 15s ease infinite;
  animation: personalWebBkgr 15s ease infinite;
}

.welcome {
    color: white;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.7rem;
  }
}

.tester {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.menulist {
    color: white;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 100px;
}

.menulink {
    transition: color 0.5s ease;
    color: white;
}

.menulink:hover {
    color: #1a237e;
}

.menulistitem {
    opacity: 0;
}

.skillona {
    opacity: 0;
}

.circleSkill {
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 15px;
    border-radius: 50%;
}

.descrSkill {
    margin-top: 0px;
    color: white;
}

.skillIcon {
    width: 90px;
    margin-top: 25px;
}

.boutme {
    margin-left: 20px;
    margin-right: 5px;
}

.side-nav li {
    line-height: 25px;
}

.closeSidNav {
    position: absolute;
    top: 200px;
    right: 240px;
    z-index: 500;
}

.contactIcons {
    width: 50px;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

 /*effect on menu elements*/

/* PORTFOLIO PAGE STYLES HERE */

.welcomeportfolio {
  color: white;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categoryMenuCont {
  display: flex;
  flex-direction: row;
}

.categoryMenuCont i {
  color: white;
}

#categoryDropdown {
  width: auto !important;
  border-radius: 10px;
  margin-left: 5px;
}

.welcomesubtitle {
  font-size: 2rem;
  color: white;
  margin: 0;
}


.portfolioCards {
  border: 3px solid white;
  margin: 5px;
  margin-top: 5vh;
  border-radius: 5px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: white;
  height: 490px;
}

.projectInfo h3 {
  margin-top: 0;
  width: 240px;
  font-size: 1.4rem;
  text-decoration: underline;
}

/* .topleftIcon {
  padding: 10px;
  background-color: yellow;
  position: relative;
  right: 29px;
  top: -30px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
} */

.portfolioBoxIcon {
  position: relative;
  top: -90px;
  left: 262px;
}

.titleIcon {
  display: flex;
  margin-bottom: -10px;
  justify-content: space-between;
}

.categoryIcon {
  position: relative;
  top: -44px;
  /* left: 33px; */
  width: 55px;
  height: 55px;
  max-height: 55px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.skillPillsContainer {
  display: inline;
  line-height: 30px;
  height: 100px;
  max-height: 100px;
  overflow-y: auto;
}

.skillPillsContainer::-webkit-scrollbar {
   width: 3px;
}

.skillPillsContainer::-webkit-scrollbar-thumb {
   width: 3px;
   background: rgba(255, 255, 255, 0.3);
   border-radius: 500px;
}

.skillBadge {
  color: white;
  padding: 3px;
  border-radius: 4px;
  margin-top: 5px;
}

.moreInfoBtn {
  margin-top: 20px;
}

/* modal styles */

.pImagesContainer {


}

.portfolioImages {
  margin-top: 5px;
  margin-bottom: 7px;
  border: 2px lightgrey solid;
  border-radius: 5px;
  padding: 5px;
}

.pDetailStatus {
  color: white;
  display: inline-block;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.activeBadge {
  margin-right: 8px;
  margin-left: 6px;
  position: relative;
  top: -2px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #4cd137;
  border-radius: 50px;
}

.inactiveBadge {
  margin-right: 8px;
  margin-left: 6px;
  position: relative;
  top: -2px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #eb2f06;
  border-radius: 50px;
}


.unknownBadge {
  margin-right: 8px;
  margin-left: 6px;
  position: relative;
  top: -2px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #ecf0f1;
  border-radius: 50px;
}

.srcCodeModalBtn {
  margin-bottom: 8px;
}

.demoModalBtn {
  margin-bottom: 8px;
}

.otherLinksModal {
  word-break: break-all;
  margin-bottom: 10px;
}

.bulletPoint {
  margin-right: 8px;
  margin-left: 6px;
  position: relative;
  top: -3px;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50px;
}

.spacerLinks {
  height: 7px;
}

/* ANIMATIONS */

@-webkit-keyframes personalWebBkgr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes personalWebBkgr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes personalWebBkgr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes personalWebBkgr {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
